<% @libraries.each do |library| %>
  <div>
    <h3><%= library.name %></h3>
    <%=link_to "Show", library_path(library)%>
    <%=link_to "Edit", edit_library_path(library)%>
    <% if current_user %>
      <%= button_to "Join", library_users_path(library) %>
    <% end %>
    <%=link_to "Delete", delete_library_path(library), method: :delete%>
  </div>
  <br>
<% end %>
<%=link_to "Add new", new_library_path%>
